.table_wrapper{
    text-align: center;
    position: relative;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(251, 219, 69, 0.15);
    display: table
}

table, th, td{
    border: 1px solid black;
    border-radius: 3px;
}

td{
    text-align: center;
    padding: 5px;
}

input {
    width: 30%;
    border: 1px solid black;
    padding: 5px;
}

label{
    font-size: 18px;
    font-family: "Times New Roman", Georgia, Serif;
}

textarea {
    padding: 4px;
    height: 150px;
    width: 50%;
    resize: none;
    border: 1px solid black;
    font-size: 15px;
    font-family: "Times New Roman", Georgia, Serif;
}

select{
    border: 1px solid black;
}

button{
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#content{
    background-color: #35a8cc;
    border-radius: 20px;
    padding: 15px;
    position: absolute;
    max-width: 600px;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
}

#content div{
    position: relative;
    margin-bottom: 10px
}

#content div label{
    padding: 4px;
    font-weight: bold;
}

#content button{
    float: right;
    margin-right: 100px;
}

.buttoneffect{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttoneffect:hover{
    box-shadow: 5px 5px 10px #000000;
    background-color: #4CAF50;
    color: white;
}

.update{
    background-color: #0088ff;
    color: white;
    padding: 15px;
}

.create{
    background-color: #ffb800;
    color: white;
    padding: 15px;
}

.modifybutton{
    margin: 5px;
}
